
<!DOCTYPE html >
<html lang = "en">
<head>  
    <meta charset ="UTF-8">
    <meta name = "viewport" content = "width=divice-width,initial-scale=1.0">
    <title>{% block title %}Mi Blog{% endblock title %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="./output.css" rel="stylesheet">
</head>
<body>
    {% include "navbar.html" %}

    <div class="container mt-5">
        {% block content %}
        <h1 class="display-4 text-primary">{{ name }}</h1>
        <h2 class="lead text-secondary">{{ project }}</h2>
        {% endblock content %}
    </div>

    <!-- Bootstrap JS (for additional functionality if needed) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>