{% extends "base.html" %}

{% block title %} Mi BLOG {% endblock title %}

{% block content %}
<h1>Bienvenidos a mis Posts</h1>
<p>Alguno sposts a continuación</p>
<table class = "table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>Contenido</th>
            <th>Fecha de creación</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th><a href = "{{url_for('get_one_posts', post_id = post['id'])}}">{{post["id"]}}</a></th>
            <th>{{post["title"]}}</th>
            <th>{{post["content"]}}</th>
            <th>{{post["created"]}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{url_for('create_one_posts')}}" class = "btn btn-info" role="button">Create one post</a>
{% endblock %}